.about {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.about-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%; 
}


.about-text h2 {
  margin-bottom: 0.5rem;
}

.about-text p {
  max-width: 500px;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.about-buttons a {
  margin-right: 10px;
  padding: 8px 14px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
}
.about-buttons a:hover {
  background: #3b82f6;
  color: #fff;
}

@media(max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-buttons a {
    display: inline-block;
    margin: 5px;
  }
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

.slide-left {
  animation: slideInLeft 1s ease forwards;
}

.slide-right {
  animation: slideInRight 1s ease forwards;
}


.slide-left:nth-child(1),
.slide-right:nth-child(1) { animation-delay: 0.2s; }
.slide-left:nth-child(2),
.slide-right:nth-child(2) { animation-delay: 0.4s; }